#header{
    background: rgb(12, 15, 15);
    color: #ffffff;
}

#branding {
    width: 500px;
}

#branding h1{
    color: #ffffff;
}

.login .submit-row{
    padding:0px !important;
    float: right;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: rgb(0, 62, 69);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.content {
    background-color: rgb(182, 182, 182);
}

.content caption {
    background-color: rgb(70, 70, 70);
}

#content-related {
    background-color: rgb(223, 223, 223);
}

#content-main {
    width: 180%;
}